@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.titulo {
    font-family: 'Fredoka One', cursive;
}


.imagenprincipal{
    min-height: 100vh;

    background-image: url(../img/South_africa_ocean_night_beach.jpg);

    background-size: cover;

    background-position:center center
}
.headertexto{background-color: #5c778a;}



.ftnegro {
    background-color: #000000;
}

.cajitas {
    transition-duration: 1s;
}

.cajitas:hover {
    transform: scale(1.1);
}
.informacion{
    text-align: center;
}