.imagenprincipal {
    
    min-height: 100vh;

    background-image: url(../img/South-africa-ocean-night-beach.jpg);


    background-size: cover;

    background-position: center center;


    &.titulo {
        font-family: 'Fredoka One', cursive;
      
    }
}
.letravieja{font-family:$letravieja;}